
body {
background: #D5DFDD;
}

.image-1 {
	width: 300px;
	height: 300px;
}

.image-2 {
	width: 300px;
	height: 300px;
}

.image-3 {
	width: 600px;
	height: 600px;
}

.image-4 {
	width: 600px;
	height: 600px;
}

.images-5-6 {
	width: 500px;
	height: 500px;
}

h1 {
	color: #49A593;
	text-align: center;
}

p {
	color: #63817B;
}